body{
    background-color: rgb(181, 201, 244);
}
p{
    font-family: Arial, sans-serif;
    font-size: 14px;
    
}
h1 {
    color: #04048a;
    text-align: center;
    font-size: 50px;
  }
  
  p {
    color: #084cf6;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  .center-container {
    text-align: center;
  }
  .my-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #1053c0;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    
  }
  
  .my-link:hover {
    background-color: #ccc;
  }
  .my-link:active {
    color: rgb(172, 220, 250);
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .video-container video {
    max-width: 100%;
    max-height: 100%;
  }
  .video-container {
  border: 10px solid #758cf4;
  max-width: 100%;
  max-height: 100%;
    
  }
  .line {
    border-top: 2px solid rgb(21, 117, 176);
    margin: 20px 0;
  }
  .quiz-container {
    justify-content: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
    text-align: center;
  }
  h2 {
    text-align: center;
    color: #04048a;
  }
  h3 {
    text-align: center;
    color: #084cf6;
  }
